---
import { type ContentEntryMap, getCollection } from "astro:content";
import { cva } from "class-variance-authority";

interface Props {
	pageName: string;
	collectionName: keyof ContentEntryMap;
	leadText?: string;
}

const { pageName, collectionName, leadText } = Astro.props;
const collection = await getCollection(collectionName);
const parsedCollection = await Promise.all(
	collection
		.sort((a, b) => a.data.order - b.data.order)
		.map(async (item) => {
			const { Content } = await item.render();
			return { id: item.data.id, name: item.data.name, content: Content };
		}),
);

const proseStyles = cva(["prose prose-quoteless pb-60"]);
---

<article class={proseStyles()}>
	<h1 id="page-header">{pageName}</h1>
	{leadText && <p>{leadText}</p>}
	{
		parsedCollection.map((item) => (
			<section id={item.id}>
				<h2>{item.name}</h2>
				<item.content />
			</section>
		))
	}
</article>
