---
import { type ContentEntryMap, getCollection } from "astro:content";
import { cva } from "class-variance-authority";
import CopyLinkButton from "./CopyLinkButton.astro";
import ArrowLeft from "astro-heroicons/solid/ArrowLeft.astro";
import ArrowRight from "astro-heroicons/solid/ArrowRight.astro";

interface Props {
	pageName: string;
	collectionName: keyof ContentEntryMap;
	nextPage?: { name: string; href: string };
	prevPage?: { name: string; href: string };
	leadText?: string;
}

const { pageName, collectionName, leadText, nextPage, prevPage } = Astro.props;

const collection = await getCollection(collectionName);
const parsedCollection = await Promise.all(
	collection
		.sort((a, b) => a.data.order - b.data.order)
		.map(async (item) => {
			const { Content } = await item.render();
			return { id: item.data.id, name: item.data.name, content: Content };
		}),
);

const proseStyles = cva(["prose prose-quoteless"]);
---

<article class={proseStyles()}>
	<h1 id="page-header">
		{pageName}
	</h1>
	{leadText && <p>{leadText}</p>}
	{
		parsedCollection.map((item) => (
			<section id={item.id} class="relative group">
				<div class="absolute w-10 h-full -left-10 hidden 2xs:flex">
					<CopyLinkButton hash={`#${item.id}`} />
				</div>
				<h2>{item.name}</h2>
				<item.content />
			</section>
		))
	}
	<div class="flex flex-col 2xs:flex-row w-full gap-4 mt-20">
		{
			prevPage && (
				<a
					href={prevPage.href}
					class="relative px-8 py-6 rounded-xl bg-gray-200 hover:bg-gray-300 transition-colors duration-100 cursor-pointer items-center flex flex-row w-full no-underline group gap-4"
				>
					<ArrowLeft class="relative size-6 stroke-2 group-hover:-translate-x-2 transition-transform duration-100" />
					{prevPage.name}
				</a>
			)
		}
		{
			nextPage && (
				<a
					href={nextPage.href}
					class="relative px-8 py-6 rounded-xl bg-gray-200 hover:bg-gray-300 transition-colors duration-100 cursor-pointer flex flex-row w-full items-center justify-between no-underline group"
				>
					{nextPage.name}
					<ArrowRight class="relative size-6 stroke-2 group-hover:translate-x-2 transition-transform duration-100" />
				</a>
			)
		}
	</div>
	<div
		class="justify-between flex flex-col pb-24 pt-96 text-xs text-stone-400 gap-2"
	>
		<div>
			This site is maintained by Keltson and Spencer of <a
				class="text-stone-500 underline"
				href="https://youtube.com/@TheCommanderPod"
				target="_blank">The Commander Pod</a
			> podcast.
		</div>
		<div>
			Built by <a
				class="text-stone-500"
				href="https://github.com/sjsimpson"
				target="_blank">Spencer Simpson</a
			>. Submit feedback to <a
				class="text-stone-500 underline"
				href="mailto:feedback@commanderpowerlevels.com"
				target="_blank">feedback@commanderpowerlevels.com</a
			>
		</div>
		<div>
			<a
				class="text-stone-500 underline"
				href="https://commanderpowerlevels.com"
				target="_blank">CommanderPowerLevels.com</a
			> is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed
			by Wizards. Portions of the materials used are property of Wizards of the Coast.
			©Wizards of the Coast LLC.
		</div>
	</div>
</article>
