---
import { ViewTransitions } from "astro:transitions";
import { SubNav } from "../components/SubNav";
import { Nav, type TopLevelNavItem } from "../components/Nav";

interface Props {
	title: string;
}

const { title } = Astro.props;
const currentUrl = Astro.url;

const navItems: TopLevelNavItem[] = [
	{ name: "Motivations", href: "/" },
	{ name: "Power Levels", href: "/power-levels" },
	{ name: "Assumptions", href: "/assumptions" },
	{
		name: "Deckbuilding",
		href: "/deckbuilding",
		children: [
			{
				name: "Template",
				href: "/template",
			},
			{
				name: "Card Advantage",
				href: "/card-advantage",
			},
			{
				name: "Interaction",
				href: "/interaction",
			},
			{
				name: "Ramp",
				href: "/ramp",
			},
		],
	},
	{
		name: "Influences",
		href: "/influences",
		children: [
			{
				name: "Strategies",
				href: "/strategies",
			},
			{
				name: "Combos",
				href: "/combos",
			},
			{
				name: "Tutors",
				href: "/tutors",
			},
			{
				name: "Threat Levels",
				href: "/threat-levels",
			},
		],
	},
	{ name: "Rule 0", href: "/rule-zero" },
];

// TODO: Add content to each page
// FIX: Style primary nav bar: probably choose a new font
// FIX: Update header to not overlap scrollbar
// TODO: Add reactive styles
// TODO: probably add a searchable input at some point
// TODO: this also means moving text content into objects
---

<!doctype html>
<html lang="en" transition:animate="none">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- TODO: Figure out how to add transitions to persist nav -->
		<ViewTransitions />
	</head>
	<body
		class="flex flex-row bg-slate-100 overflow-hidden"
		transition:animate="none"
	>
		<div
			class="flex flex-col h-screen w-1/5 top-0 left-0 pl-20 pt-24 pb-12 gap-4 z-10"
		>
			<div class="uppercase tracking-wider font-semibold text-xl px-8">
				<a href="/" class="cursor-pointer">Commander Power Levels</a>
			</div>
			<!-- <input class="py-1 px-2" placeholder="search" /> -->
			<Nav
				client:load
				transition:persist
				pathname={currentUrl.pathname}
				links={navItems}
			/>
		</div>
		<div
			id="root"
			class="relative pt-24 pl-20 flex flex-row w-4/5 overflow-y-auto max-h-screen scroll-smooth gap-16"
		>
			<main class="max-w-[1200px]">
				<div class="flex flex-col h-fit">
					<slot />
				</div>
				<div class="h-96">FOOTER</div>
			</main>
			<SubNav client:only="react" pageTitle={title} />
		</div>
	</body>
</html>
